body {
    width: 100vw;
    height: 100vh;
    background-image: url(R.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
}
h5{
    margin-top: 10px;
}
li{
    display: inline-block;
    margin: 5px;
    list-style: none;
}